input(type="hidden" name="_csrf" value="csurfToken")
label(for="firstName") First name:
input(type="text" id="firstName" name="firstName" value=firstName)
label(for="lastName") Last name:
input(type="text" id="lastName" name="lastName" value=lastName)
label(for="email") Email:
input(type="email" id="email" name="email" value=email)
label(for="password") Password:
input(type="password" id="password" name="password")
label(for="comfirmedPassword")
input(type="password" id="confirmedPassword" name="confirmedPassword")
